@model WebApplication8.Models.Student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.studentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.studentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.studentDOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.studentDOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.studentAdress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.studentAdress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.studentPicId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.studentPicId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.studentPic)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.studentPic)*@
            @{
                //var b64=null; var imgsrc=null;
                var b64 = "";
                if (Model.studentPic != null)
                {
                    b64 = Convert.ToBase64String(Model.studentPic);
                }
                var imgsrc = string.Format("data:image/gif;base64,{0}", b64);
            }
            <img src="@imgsrc" height="100" width="100" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.studentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
